<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    {{isAuthenticated}}
      <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <a *ngIf="isAuthenticated" mat-button  routerLink="/paises-lista">Paises</a>
     <a *ngIf="!isAuthenticated"  mat-button  routerLink="/register">Register</a>
     <a *ngIf="!isAuthenticated" mat-button  routerLink="/login">Login</a>
     <a *ngIf="isAuthenticated" (click)="onLogout()" mat-button >Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>